@model LDap.Models.LoginVM

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@ViewData["Title"]</title>
        <style>
            body {
                font-family: Arial;
                background-color: #3498DB;
                padding: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card {
                border: 1px solid #ced4da;
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                background-color: #FFF;
                padding: 20px;
                margin-top: 100px;
            }

            h2 {
                text-align: center;
                color: #777;
            }

            label {
                font-weight: bold;
            }

            .form-control {
                margin-bottom: 20px;
            }

            .btn-primary {
                border: 2px solid transparent;
                background: #3498DB;
                color: #ffffff;
                font-size: 16px;
                line-height: 25px;
                padding: 10px 0;
                text-decoration: none;
                text-shadow: none;
                border-radius: 10px;
                box-shadow: none;
                transition: 0.25s;
                display: block;
                width: 200px;
                margin: 0 auto;
            }

                .btn-primary:hover {
                    background-color: #2980B9;
                }

            .text-decoration-none {
                text-decoration: none;
            }

            .text-danger {
                margin-top: 10px;
                font-weight: bold;
            }

            .form-check-label {
                font-weight: normal;
            }
        </style>
    </head>
    <body>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-3 card p-3">
                <h2 class="text-center text-info">Login</h2>
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-1">
                        <label asp-for="username" class="control-label">Kullanıcı Adı: </label>
                        <input asp-for="username" class="form-control" />
                        <span asp-validation-for="username" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="password" class="control-label">Şifre: </label>
                        <input asp-for="password" class="form-control" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="mb-1 form-check">
                        <label class="form-check-label">
                            <input asp-for="RememberMe" class="form-check-input" /> @Html.DisplayNameFor(a=>a.RememberMe)
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <a asp-action="Register" class="text-decoration-none float-start mt-2"></a>
                        </div>
                        <div class="col-4">
                            <input type="submit" value="Login" class="btn btn-primary btn-sm float-end" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
